@font-face {
  font-family: "robotobold";
  src: url("../fonts/robotobold.woff") format("woff"), url("../fonts/robotobold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "robotomedium";
  src: url("../fonts/robotomedium.woff") format("woff"), url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: "robotobold", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  background-color: #849d8f; }

.container {
  width: 1146px;
  margin: 0 auto; }
  .container .header-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  margin-top: 15px; }
  .main-nav .site-logo {
    margin-right: 25px; }

.site-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 380px;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  list-style: none; }
  .site-nav li:hover > ul {
    display: block; }
  .site-nav a {
    padding: 5px 7px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    .site-nav a:hover, .site-nav a:focus {
      color: black;
      background-color: white;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      outline: none; }

.submenu {
  position: absolute;
  top: 35px;
  left: -15px;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .submenu a {
    display: block;
    padding: 13px 20px;
    font-family: "robotobold";
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    border-bottom: none; }
    .submenu a:hover, .submenu a:focus {
      background-color: #fbded7;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
    .submenu a:active {
      background-color: #f6b5a5; }
  .submenu .active {
    border-bottom: 0.5px solid #8b8b8b; }

.user-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 267px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none; }
  .user-nav .search {
    position: relative; }
    .user-nav .search a {
      display: block;
      padding: 17px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: url("../img/icon-loupe.svg") no-repeat center;
      background-color: rgba(0, 0, 0, 0.1); }
      .user-nav .search a:hover, .user-nav .search a:focus {
        background: url("../img/icon-loupe-black.svg") no-repeat center;
        background-color: #fff;
        outline: none; }
  .user-nav .entrance {
    position: relative; }

.entrance .entrance-link {
  background: url("../img/icon-entrance.svg") no-repeat 16px center;
  display: block;
  padding: 9px 25px 9px 44px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 15px;
  border-radius: 15px; }
  .entrance .entrance-link:hover, .entrance .entrance-link:focus {
    color: #000;
    background: url("../img/icon-entrance-black.svg") no-repeat 16px center;
    background-color: #fff;
    outline: none; }

.basket .basket-link {
  background: url("../img/icon-basket.svg") no-repeat 16px center;
  display: block;
  padding: 9px 25px 9px 44px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 15px;
  border-radius: 15px; }
  .basket .basket-link:hover, .basket .basket-link:focus {
    color: #000;
    background: url("../img/icon-basket-red.svg") no-repeat 16px center;
    background-color: #fff;
    outline: none; }

.header-contacts {
  padding-left: 970px; }
  .header-contacts .contacts-time {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding-left: 17px; }
  .header-contacts .contacts-phone {
    margin: 0;
    margin-top: 5px;
    font-size: 22px;
    line-height: 24px; }

.user-nav li:hover > .search-form {
  display: block; }

.user-nav li:hover .entrance-form {
  display: block; }

.search-form {
  position: absolute;
  top: 34px;
  right: 5px;
  display: none;
  width: 300px;
  padding: 20px 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .search-form input[type="search"] {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #d3d3d2;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .search-form input[type="search"]::-webkit-input-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .search-form input[type="search"]:-moz-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px;
      box-sizing: border-box; }
    .search-form input[type="search"]::-moz-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px;
      box-sizing: border-box; }
    .search-form input[type="search"]:-ms-input-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px;
      box-sizing: border-box; }
    .search-form input[type="search"]:focus {
      background-color: #eeede9;
      outline: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.entrance-form {
  position: absolute;
  top: 35px;
  right: 25px;
  display: none;
  width: 280px;
  padding: 20px;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .entrance-form input {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #d3d3d2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .entrance-form input::-webkit-input-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px; }
    .entrance-form input:-moz-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px; }
    .entrance-form input::-moz-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px; }
    .entrance-form input:-ms-input-placeholder {
      font-family: "robotobold";
      color: #999;
      font-size: 13px; }
    .entrance-form input:focus {
      background-color: #eeede9;
      outline: none; }
  .entrance-form .btn {
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: "robotobold";
    background-color: #e74a35;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: -o-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
    -webkit-box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer; }
    .entrance-form .btn:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e74a35), to(#f17f65));
      background: -webkit-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: -o-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: linear-gradient(to bottom, #e74a35 0, #f17f65 100%);
      -webkit-box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6);
      box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6); }
  .entrance-form .new-registration, .entrance-form .forget-password {
    font-size: 13px;
    line-height: 24px;
    color: #323232; }
    .entrance-form .new-registration:hover, .entrance-form .forget-password:hover, .entrance-form .new-registration:focus, .entrance-form .forget-password:focus {
      color: #e84d37; }

.login-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .login-wrap .link-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

/*  */
.slider {
  position: relative;
  padding-top: 350px;
  margin-bottom: 60px;
  -webkit-transition: background 0.7s ease, background-color 0.7s ease;
  -o-transition: background 0.7s ease, background-color 0.7s ease;
  transition: background 0.7s ease, background-color 0.7s ease;
  -moz-transition: background 0.7s ease, background-color 0.7s ease;
  -ms-transition: background 0.7s ease, background-color 0.7s ease; }

.slider-controls {
  position: absolute;
  bottom: 5px; }
  .slider-controls label {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer; }

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.slide {
  text-align: center; }
  .slide .slider-title {
    font-size: 60px;
    line-height: 60px; }
  .slide .slide-btn {
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: "robotobold";
    background-color: #e74a35;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: -o-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
    -webkit-box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 12px 44px;
    text-decoration: none;
    font-size: 32px;
    line-height: 44px;
    -webkit-border-radius: 30px;
    border-radius: 30px; }
    .slide .slide-btn:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e74a35), to(#f17f65));
      background: -webkit-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: -o-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: linear-gradient(to bottom, #e74a35 0, #f17f65 100%);
      -webkit-box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6);
      box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6); }

#slide1,
#slide2,
#slide3 {
  display: none; }

#product-1:checked ~ .slider #slide1,
#product-2:checked ~ .slider #slide2,
#product-3:checked ~ .slider #slide3 {
  display: block; }

#product-1:checked ~ .slider label[for="product-1"],
#product-2:checked ~ .slider label[for="product-2"],
#product-3:checked ~ .slider label[for="product-3"] {
  background-color: #fff; }

#product-1:checked ~ .slider {
  background-color: #849d8f;
  background: url("../img/ice-cream1.png") no-repeat 250px center, url("../img/ice-cream2.png") no-repeat 580px center; }

#product-2:checked ~ .slider {
  background: url("../img/ice-cream-3.png") no-repeat 250px center, url("../img/ice-cream-4.png") no-repeat 580px center;
  background-color: #849d8f; }

#product-3:checked ~ .slider {
  background: url("../img/ice-cream-5.png") no-repeat 250px center, url("../img/ice-cream-6.png") no-repeat 580px center;
  background-color: #849d8f; }

/*  */
.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .offer h2 {
    margin: 0;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 41px; }
  .offer p {
    margin: 0;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px; }
  .offer a {
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: "robotobold";
    background-color: #e74a35;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: -o-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
    -webkit-box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 320px;
    margin-bottom: 20px;
    text-decoration: none; }
    .offer a:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e74a35), to(#f17f65));
      background: -webkit-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: -o-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: linear-gradient(to bottom, #e74a35 0, #f17f65 100%);
      -webkit-box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6);
      box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6); }

.offer-first {
  margin-right: 20px;
  padding-left: 20px;
  background: url("../img/raspberries.jpg") #681021;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.offer-second {
  padding-left: 20px;
  background: url("../img/chocolate.jpg") #885f4e;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.products-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style: none; }
  .products-list .products-item {
    position: relative;
    width: 267px; }
    .products-list .products-item::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 10px;
      width: 70px;
      height: 70px;
      background: url("../img/hit.svg") no-repeat center top; }
    .products-list .products-item h3 {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      text-decoration: underline;
      text-align: center;
      cursor: pointer; }
    .products-list .products-item img {
      padding-left: 10px;
      padding-top: 10px; }

.product-price {
  position: absolute;
  bottom: 60px;
  left: 10px;
  font-size: 45px;
  line-height: 45px; }
  .product-price .kilo {
    font-size: 35px;
    line-height: 35px;
    margin-left: 30px; }
  .product-price::after {
    content: "";
    position: absolute;
    left: 80px;
    top: 11px;
    width: 35px;
    height: 35px;
    background: url("../img/ruble.svg") no-repeat center; }

.product-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 405px;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  .product-hover .btn {
    display: inline-block;
    margin-top: 350px;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: "robotobold";
    background-color: #e74a35;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: -o-linear-gradient(top, #f26843 0, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
    -webkit-box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; }
    .product-hover .btn:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e74a35), to(#f17f65));
      background: -webkit-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: -o-linear-gradient(top, #e74a35 0, #f17f65 100%);
      background: linear-gradient(to bottom, #e74a35 0, #f17f65 100%);
      -webkit-box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6);
      box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6); }

.products-item:hover .product-hover {
  display: block;
  padding: 5px 10px;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5); }

.advantages {
  margin-bottom: 40px;
  background-color: #e7d0a1;
  background-image: url("../img/cut-picture.jpg");
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #323232; }
  .advantages .advantages-title {
    margin: 0;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 30px; }
  .advantages p {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 25px;
    font-size: 18px;
    font-family: "robotomedium";
    line-height: 22px; }

.advantages-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.production {
  position: relative; }
  .production::before {
    content: "";
    position: absolute;
    left: -18px;
    top: -10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/ice-cream.svg"); }

.ingredients {
  position: relative; }
  .ingredients::before {
    content: "";
    position: absolute;
    left: -18px;
    top: -10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/cow.svg"); }

.purchase {
  position: relative; }
  .purchase::before {
    content: "";
    position: absolute;
    left: -18px;
    top: -10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/eco.svg"); }

.delivery {
  position: relative; }
  .delivery::before {
    content: "";
    position: absolute;
    left: -18px;
    top: -10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/thermometer.svg"); }

.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .blog .news {
    width: 560px;
    margin-right: 25px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
    background: url("../img/strawberry.jpg") no-repeat #fff;
    background-position: 210px -30px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
    .blog .news h3 {
      margin: 0;
      color: #323232; }
    .blog .news a {
      font-size: 24px;
      line-height: 30px;
      color: #323232; }
  .blog .mailing {
    width: 560px;
    padding-left: 20px;
    color: #5a5a5a;
    border: 10px solid red;
    -webkit-border-image: url("../img/bg-post.svg");
    -o-border-image: url("../img/bg-post.svg");
    border-image: url("../img/bg-post.svg");
    border-image-slice: 10;
    border-image-repeat: round;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #f8f7f4; }
    .blog .mailing p {
      font-size: 16px;
      margin-bottom: 35px; }

.mailing-form .btn {
  padding: 10px 25px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: "robotobold";
  background-color: #e74a35;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
  -webkit-box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
  box-shadow: 0 3px 2px rgba(170, 16, 0, 0.6);
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer; }
  .mailing-form .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e74a35), to(#f17f65));
    background: -webkit-linear-gradient(top, #e74a35 0, #f17f65 100%);
    background: -o-linear-gradient(top, #e74a35 0, #f17f65 100%);
    background: linear-gradient(to bottom, #e74a35 0, #f17f65 100%);
    -webkit-box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6);
    box-shadow: 0 2px 0px rgba(170, 16, 0, 0.6); }

.mailing-form input {
  width: 365px;
  padding: 10px 15px;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .mailing-form input:focus {
    background-color: #eeede9;
    outline: none; }

.only-map {
  margin-bottom: 40px;
  width: 100%;
  height: 430px;
  left: 0;
  right: 0;
  position: absolute; }
